<section class="section-cat">
    <div class="container container-cat">
        <h1 class="h1-cat h1-zag">Лучшие предложения</h1>
        <div class="how-links">
            <button class="how-links-item" data-path="one">Япония</button>
            <button class="how-links-item" data-path="two">Корея</button>
            <br>
            <button class="how-links-item" data-path="three">ОАЭ</button>
            <button class="how-links-item" data-path="four">Китай</button>
        </div>

            <div class="tab-content" data-target="one">

                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Stepwgn.webp" alt="">
                    <h3 class="card-h3">Honda Stepwagon</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2020</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">RP1</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Оценка</span>
                            <span class="card-value">4.5</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1500</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">G Honda Sensing</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;1 800 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Vezel.webp" alt="">
                    <h3 class="card-h3">Honda Vezel</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2015</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">RU1</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Оценка</span>
                            <span class="card-value">4</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1500</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">RS Honda Sensing</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;1 450 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_CX-3.webp" alt="">
                    <h3 class="card-h3">Mazda CX-3</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">DKLFW</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Оценка</span>
                            <span class="card-value">4</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1500</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">15S Touring</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;1 550 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Levorg1.webp" alt="">
                    <h3 class="card-h3">Subaru Levorg</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2014</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">VM4</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Оценка</span>
                            <span class="card-value">4</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1600</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">GT-S Eyesite 4WD</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;1 350 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="swiper mySwiper swiper-display swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                    <div class="swiper-wrapper" id="swiper-wrapper-0b12d910c8350ef35" aria-live="polite" style="cursor: grab; transition-duration: 0ms;">
                        <div class="swiper-slide swiper-slide-dis open_popup">
                            <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Stepwgn.webp" alt="">
                            <h3 class="card-h3">Honda Stepwagon</h3>
                            <ul class="card-list">
                                <li class="card-list-item">
                                    <span class="card-name">Год</span>
                                    <span class="card-value">2020</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Кузов</span>
                                    <span class="card-value">RP1</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Оценка</span>
                                    <span class="card-value">4.5</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Объём</span>
                                    <span class="card-value">1500</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Комплектация</span>
                                    <span class="card-value">G Honda Sensing</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Стоимость</span>
                                    <span class="card-value">от&nbsp;1 800 000&nbsp;₽</span>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide swiper-slide-dis open_popup">
                            <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Vezel.webp" alt="">
                            <h3 class="card-h3">Honda Vezel</h3>
                            <ul class="card-list">
                                <li class="card-list-item">
                                    <span class="card-name">Год</span>
                                    <span class="card-value">2015</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Кузов</span>
                                    <span class="card-value">RU1</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Оценка</span>
                                    <span class="card-value">4</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Объём</span>
                                    <span class="card-value">1500</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Комплектация</span>
                                    <span class="card-value">RS Honda Sensing</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Стоимость</span>
                                    <span class="card-value">от&nbsp;1 450 000&nbsp;₽</span>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide swiper-slide-dis open_popup">
                            <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_CX-3.webp" alt="">
                            <h3 class="card-h3">Mazda CX-3</h3>
                            <ul class="card-list">
                                <li class="card-list-item">
                                    <span class="card-name">Год</span>
                                    <span class="card-value">2021</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Кузов</span>
                                    <span class="card-value">DKLFW</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Оценка</span>
                                    <span class="card-value">4</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Объём</span>
                                    <span class="card-value">1500</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Комплектация</span>
                                    <span class="card-value">15S Touring</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Стоимость</span>
                                    <span class="card-value">от&nbsp;1 550 000&nbsp;₽</span>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide swiper-slide-dis open_popup">
                            <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Japan_Levorg1.webp" alt="">
                            <h3 class="card-h3">Subaru Levorg</h3>
                            <ul class="card-list">
                                <li class="card-list-item">
                                    <span class="card-name">Год</span>
                                    <span class="card-value">2014</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Кузов</span>
                                    <span class="card-value">VM4</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Оценка</span>
                                    <span class="card-value">4</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Объём</span>
                                    <span class="card-value">1600</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Комплектация</span>
                                    <span class="card-value">GT-S Eyesite 4WD</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Стоимость</span>
                                    <span class="card-value">от&nbsp;1 350 000&nbsp;₽</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>

            <div class="tab-content" data-target="two">

                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_BMW_X5.webp" alt="">
                    <h3 class="card-h3">BMW X5</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2020</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">G05</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">3000</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">xDrive 40d</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;6 300 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_Palisade.webp" alt="">
                    <h3 class="card-h3">Hyundai Palisade</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">LX2</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">2200</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">Exclusive</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;3 600 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_Staria.webp" alt="">
                    <h3 class="card-h3">Hyundai Staria</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">US4</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">2200</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">Inspiration</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;3 600 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_KIA_K5.webp" alt="">
                    <h3 class="card-h3">KIA K5</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">DL3</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1600</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">Noblesse</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;2 100 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="swiper mySwiper swiper-display swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                    <div class="swiper-wrapper" id="swiper-wrapper-32248dd88991066c5" aria-live="polite" style="cursor: grab; transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_BMW_X5.webp" alt="">
                        <h3 class="card-h3">BMW X5</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2020</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">G05</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">3000</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">xDrive 40d</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;6 300 000&nbsp;₽</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_Palisade.webp" alt="">
                        <h3 class="card-h3">Hyundai Palisade</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2021</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">LX2</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">2200</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">Exclusive</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;3 600 000&nbsp;₽</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_Staria.webp" alt="">
                        <h3 class="card-h3">Hyundai Staria</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2021</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">US4</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">2200</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">Inspiration</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;3 600 000&nbsp;₽</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide swiper-slide-dis open_popup">
                            <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Korea_KIA_K5.webp" alt="">
                            <h3 class="card-h3">KIA K5</h3>
                            <ul class="card-list">
                                <li class="card-list-item">
                                    <span class="card-name">Год</span>
                                    <span class="card-value">2021</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Кузов</span>
                                    <span class="card-value">DL3</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Объём</span>
                                    <span class="card-value">1600</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Комплектация</span>
                                    <span class="card-value">Noblesse</span>
                                </li>
                                <li class="card-list-item">
                                    <span class="card-name">Стоимость</span>
                                    <span class="card-value">от&nbsp;2 100 000&nbsp;₽</span>
                                </li>
                            </ul>
                    </div>
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
        <div class="tab-content" data-target="three">
            <div class="card open_popup">
                <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_3_RoZLoTJ.jpg" alt="">
                <h3 class="card-h3">Lexus LX600</h3>
                <ul class="card-list">
                    <li class="card-list-item">
                        <span class="card-name">Год</span>
                        <span class="card-value">2021</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Кузов</span>
                        <span class="card-value">VJA30</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Объём</span>
                        <span class="card-value">3400</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Комплектация</span>
                        <span class="card-value">AT VIP</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Стоимость</span>
                        <span class="card-value">от&nbsp;15 000 000&nbsp;₽</span>
                    </li>
                </ul>
            </div>
            <div class="card open_popup">
                <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_4_Nl1sfb1.jpg" alt="">
                <h3 class="card-h3">Lexus RX</h3>
                <ul class="card-list">
                    <li class="card-list-item">
                        <span class="card-name">Год</span>
                        <span class="card-value">2020</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Кузов</span>
                        <span class="card-value">GYL25</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Объём</span>
                        <span class="card-value">3500</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Комплектация</span>
                        <span class="card-value">CVT Luxury</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Стоимость</span>
                        <span class="card-value">от&nbsp;6 000 000&nbsp;₽</span>
                    </li>
                </ul>
            </div>
            <div class="card open_popup">
                <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_2_hdrGTeH.jpg" alt="">
                <h3 class="card-h3">Toyota LC 300</h3>
                <ul class="card-list">
                    <li class="card-list-item">
                        <span class="card-name">Год</span>
                        <span class="card-value">2024</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Кузов</span>
                        <span class="card-value">VJA30</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Объём</span>
                        <span class="card-value">3300</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Комплектация</span>
                        <span class="card-value">GR Sport</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Стоимость</span>
                        <span class="card-value">от&nbsp;14 000 000&nbsp;₽</span>
                    </li>
                </ul>
            </div>
            <div class="card open_popup">
                <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_1_bSgwUls.jpg" alt="">
                <h3 class="card-h3">Toyota LC Prado</h3>
                <ul class="card-list">
                    <li class="card-list-item">
                        <span class="card-name">Год</span>
                        <span class="card-value">2021</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Кузов</span>
                        <span class="card-value">TRJ15</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Объём</span>
                        <span class="card-value">2700</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Комплектация</span>
                        <span class="card-value">GXR</span>
                    </li>
                    <li class="card-list-item">
                        <span class="card-name">Стоимость</span>
                        <span class="card-value">от&nbsp;5 500 000&nbsp;₽</span>
                    </li>
                </ul>
            </div>
            <div class="swiper mySwiper swiper-display swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                <div class="swiper-wrapper" id="swiper-wrapper-18b2672dcd099a84" aria-live="polite" style="cursor: grab; transition-duration: 0ms;">
                  <div class="swiper-slide swiper-slide-dis open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_3_RoZLoTJ.jpg" alt="">
                    <h3 class="card-h3">Lexus LX600</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">VJA30</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">3400</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">AT VIP</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;15 000 000&nbsp;₽</span>
                        </li>
                    </ul>
                  </div>
                  <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_4_Nl1sfb1.jpg" alt="">
                        <h3 class="card-h3">Lexus RX</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2020</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">GYL25</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">3500</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">CVT Luxury</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;6 000 000&nbsp;₽</span>
                            </li>
                        </ul>
                  </div>
                  <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_2_hdrGTeH.jpg" alt="">
                        <h3 class="card-h3">Toyota LC 300</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2024</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">VJA30</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">3300</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">GR Sport</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;14 000 000&nbsp;₽</span>
                            </li>
                        </ul>
                  </div>
                  <div class="swiper-slide swiper-slide-dis open_popup">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/OA_1_bSgwUls.jpg" alt="">
                        <h3 class="card-h3">Toyota LC Prado</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2021</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">TRJ15</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">2700</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">GXR</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;5 500 000&nbsp;₽</span>
                            </li>
                        </ul>
                  </div>
                </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>

            <div class="tab-content tab-content-active" data-target="four">

                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/knr_1_ljmNsk6.jpg" alt="">
                    <h3 class="card-h3">Changan UNI-K</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">-</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">2000</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">2.0 AT Premium</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;2 200 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/knr_4_zoBOnIG.jpg" alt="">
                    <h3 class="card-h3">Li L7</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2024</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">-</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1500</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">SSR Pro</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;6 400 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Toyota_RAV4.webp" alt="">
                    <h3 class="card-h3">Toyota RAV4</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2021</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">MXAA5</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">2000</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">2.0 CVT Adventure</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;2 300 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="card open_popup">
                    <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/China_Zeekr_001_qZlhYRI.webp" alt="">
                    <h3 class="card-h3">Zeekr 001</h3>
                    <ul class="card-list">
                        <li class="card-list-item">
                            <span class="card-name">Год</span>
                            <span class="card-value">2024</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Кузов</span>
                            <span class="card-value">-</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Объём</span>
                            <span class="card-value">1</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Комплектация</span>
                            <span class="card-value">100 kWh You</span>
                        </li>
                        <li class="card-list-item">
                            <span class="card-name">Стоимость</span>
                            <span class="card-value">от&nbsp;6 900 000&nbsp;₽</span>
                        </li>
                    </ul>
                </div>
                <div class="swiper mySwiper swiper-display swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                    <div class="swiper-wrapper" id="swiper-wrapper-f1b83fd0e58f757a" aria-live="polite" style="cursor: grab; transition-duration: 0ms; transform: translateX(-2px);">
                    <div class="swiper-slide swiper-slide-dis open_popup swiper-slide-visible swiper-slide-active" role="group" aria-label="1 / 4" style="margin-right: 30px; transition-duration: 0ms; z-index: 4; transform: translate3d(0px, 0px, 0px) rotateZ(0deg) scale(1);">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/knr_1_ljmNsk6.jpg" alt="">
                        <h3 class="card-h3">Changan UNI-K</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2021</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">-</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">2000</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">2.0 AT Premium</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;2 200 000&nbsp;₽</span>
                            </li>
                        </ul>
                    <div class="swiper-slide-shadow" style="opacity: 0; transition-duration: 0ms;"></div></div>
                    <div class="swiper-slide swiper-slide-dis open_popup swiper-slide-next" role="group" aria-label="2 / 4" style="margin-right: 30px; transition-duration: 0ms; z-index: 3; transform: translate3d(calc(7.25% - 330px), 0px, -100px) rotateZ(2deg) scale(1);">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/knr_4_zoBOnIG.jpg" alt="">
                        <h3 class="card-h3">Li L7</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2024</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">-</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">1500</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">SSR Pro</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;6 400 000&nbsp;₽</span>
                            </li>
                        </ul>
                    <div class="swiper-slide-shadow" style="opacity: 1; transition-duration: 0ms;"></div></div>
                    <div class="swiper-slide swiper-slide-dis open_popup" role="group" aria-label="3 / 4" style="margin-right: 30px; transition-duration: 0ms; z-index: 2; transform: translate3d(calc(13% - 660px), 0px, -200px) rotateZ(4deg) scale(1);">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/Toyota_RAV4.webp" alt="">
                        <h3 class="card-h3">Toyota RAV4</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2021</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">MXAA5</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">2000</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">2.0 CVT Adventure</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;2 300 000&nbsp;₽</span>
                            </li>
                        </ul>
                    <div class="swiper-slide-shadow" style="opacity: 1; transition-duration: 0ms;"></div></div>
                    <div class="swiper-slide swiper-slide-dis open_popup" role="group" aria-label="4 / 4" style="margin-right: 30px; transition-duration: 0ms; z-index: 1; transform: translate3d(calc(17.25% - 990px), 0px, -300px) rotateZ(6deg) scale(1);">
                        <img class="card-img" src="https://www.prim-autodealer.ru/media/bestimg/China_Zeekr_001_qZlhYRI.webp" alt="">
                        <h3 class="card-h3">Zeekr 001</h3>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <span class="card-name">Год</span>
                                <span class="card-value">2024</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Кузов</span>
                                <span class="card-value">-</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Объём</span>
                                <span class="card-value">1</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Комплектация</span>
                                <span class="card-value">100 kWh You</span>
                            </li>
                            <li class="card-list-item">
                                <span class="card-name">Стоимость</span>
                                <span class="card-value">от&nbsp;6 900 000&nbsp;₽</span>
                            </li>
                        </ul>
                    <div class="swiper-slide-shadow" style="opacity: 1; transition-duration: 0ms;"></div></div>
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
    </div>
</section>