/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #212121;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: #36414F;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Стили для панели фильтров */
/*.filter-panel {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    background: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*}*/

.filter-panel form {
    width: 90%;
    margin: 0 auto;
    background-color: #F2F6F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    border: 1px solid rgb(228 228 231);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 25px;
}

.filter-panel label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
}

.filter-panel select,
.filter-panel input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.filter-panel button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-panel button[type="submit"] {
    background-color: #007bff;
}

.filter-panel button[type="submit"]:hover {
    background-color: #0056b3;
}

.filter-panel button[type="reset"] {
    background-color: #6c757d;
}

.filter-panel button[type="reset"]:hover {
    background-color: #5a6268;
}

/* Стили для списка автомобилей */
.car-list {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;

}

.car-card {
    background-color: white;
    width: 300px;
    height: 380px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 24px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 24px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 24px 9px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.car-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.car-card img {
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.car-card h2 {
    margin-top: 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #36414F;
}

.car-card p {
    margin: 5px 10px;
    font-size: 14px;
    color: #666;
}

/* Стили для числовых полей */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Стили для поля с очисткой */
.input-with-clear {
    position: relative;
    display: inline-block;
    /*flex: 0 0 calc(33.33% - 1rem);*/
}

label {
    display: block;
    margin-bottom: 5px;
}

:root {
    --bac-color-def: #61722e;
    --bac-color-hover: #7f9739;
}

.input-with-clear input::placeholder {
    color: var(--bac-color-def);
    opacity: 1;
}

.input-with-clear input, .filter-panel select {
    padding: 12px;
    width: 171.469px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 231);
    text-align: center;
    font-weight: 400;
}

.filter-panel select {
    width: 349.953px;
}

.input-with-clear {
    color: #212121;
}

.clear-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
    font-size: 18px;
}

.clear-icon:hover {
    color: #666;
}

.hidden {
    display: none;
}

/* Стиль контейнера для select */
.select-container {
    position: relative;
    display: inline-block;
    width: 200px; /* Ширина поля */
}

/* Стиль для select */
.custom-select {
    width: 100%;
    padding: 8px 30px 8px 10px; /* Отступ справа для стрелки */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    appearance: none; /* Убираем стандартные стрелки браузера */
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

/* Стиль для стрелки */
.arrow-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы стрелка не мешала кликам */
    font-size: 12px;
    color: #666;
    transition: transform 0.3s ease; /* Плавное изменение направления */
}

/* Стрелка вверх при фокусе или открытом списке */
.custom-select:focus + .arrow-icon,
.custom-select[open] + .arrow-icon {
    transform: translateY(-50%) rotate(180deg); /* Поворот на 180 градусов */
}

input[list] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.filter-panel .row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
}

/* Стили для колонок */
.filter-panel .input-with-clear {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filter-panel .input-with-clear select.custom-select {
    width: 100%;
}

.col .input-with-clear{
    display: inline-block;
}

.filter-panel .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-transform: uppercase;
    transition: all 0.3s linear;
    width: 300px;
    height: 46px;
    border: none;
}

.car-card ul {
    font-size: 18px;
    padding: 10px 10px 20px 10px;
    list-style: none;
}

.car-card li:not(:last-child) {
    margin-bottom: 5px;
}

.car-card li {
    display: flex;
    justify-content: space-between;
}

.car-card li:last-child {
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.card_value {
    color: black;
    font-weight: 700;
}

.section-youtube .container2 {margin-bottom: 0}